* {
    background-color: grey;
}

h1,
h2,
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ol {
    width: 40%;
}

.recipe-list {
    padding-left: 0pt;
}

.recipe-list li {
    list-style: none;
}

.recipe-list a {
    color: inherit;
}

.utensils {
    width: 150px;
    height: 200px;
}